{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Контакты{% endblock header %}

{% block content %}

<div class="card mt-4 mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Виктор Кобелев</h5>
    <p class="card-text">Типа знает bootstrap.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Телефон: +79855551424</li>
    <li class="list-group-item">Email: vak2004@list.ru</li>
  </ul>
  <div class="card-body">
    <h5 class="card-title">Савелий Дубовик</h5>
    <p class="card-text">Тож типа знает bootstrap.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Телефон: +79065014401</li>
    <li class="list-group-item">Email: saveliy.dubovik@gmail.com</li>
  </ul>
</div>

{% endblock content %}


